


    <body>
        <div class="container">
            <h6 align="center">Add Purchase order</h6>
        <form (ngSubmit)="submit()">
             <br><div class="doc2">
            <input type="text" placeholder="Item Name" name="name" [(ngModel)]="name" >
             <br></div>
           <input type="submit">
        
        </form>
        </div>

<br><br>
        
        <h3 align="center">Purchase Orders</h3>
 
    <div class="table-box">
            <div class="table-row table-head">
                <div class="table-cell first-cell">
                    <p>Purchase ID</p>
                </div>
                <div class="table-cell">
                    <p>Equipment Name</p>
                </div> 
                <div class="table-cell">
                    <p>Equipment Price</p>
                </div> 
                <div class="table-cell last-cell">
                    <p>Completion Status</p>
                </div> 
            </div>
    
    
            <div class="table-row" *ngFor="let s of ship2">
                <div class="table-cell first-cell">
                    <p>{{s.prchsId}}</p>
                </div>
                <div class="table-cell">
                    <p>{{s.eqmtNm}}</p>
                </div>
                <div class="table-cell">
                    <p>{{s.itmPrc}}</p>
                </div>
                <div class="table-cell last-cell">
                   
                    <div *ngIf="s.itmInstSts==true;else go_to"><p><img src="../../assets/check.png" style="width:30px;height:30px;"></p></div>
                    <ng-template #go_to><img src="../../assets/cross9.jpg" style="width:30px;height:30px;"></ng-template>
                
                </div>   
            </div>
    
    </div>   
    </body>
