<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav ml-auto">
          <div>
            <h2 class="d-inline-block align-text-top">Stores Portal</h2><br>
            <a routerLink="/store/stpur"><b>Purchase Order Requests</b> </a>&nbsp;&nbsp;
            <!-- <a routerLink="/store/sthis"><b>History</b> </a>&nbsp;&nbsp; -->
          </div>
        </ul>
      </div>
      <div>
        <h6 class="d-inline-block align-text-top">Welcome {{message}}</h6>
        <a routerLink="/home/home2"><b>Logout</b> </a>
      </div>
</nav>
<router-outlet></router-outlet>