
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <ul class="navbar-nav ml-auto">
        <div>
          <h2><img src="assets/logo.png" alt="" width="60" height="44" class="d-inline-block align-text-top">&nbsp;Ship Management System</h2>
          <a routerLink='/home/home2'><b>Organisation Login</b> </a>&nbsp;&nbsp;
          <a routerLink='/home/about'><b>About Us</b> </a>&nbsp;&nbsp;
          <a routerLink='/home/contact'><b> Contact Us</b></a>&nbsp;&nbsp;

        </div>
      </ul>
    </div>
    <div style="margin-right: 1cm;width:7cm;" >
      <input type="button" value="Book Reservation" class="rec" routerLink='/register'>
    </div>
  </nav>


  <router-outlet></router-outlet>