
    
<br><br>

     <div class="container">
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Login
          </h3>
        <div class="row">
         <form (ngSubmit)="onSubmit()">
  
            <div class="col">
                
                <p style="color: red;">{{msg}}</p>
                <input type="text" name="userId" placeholder="UserId" required [(ngModel)]="userId">
                <input type="password" name="password" placeholder="Password" required [(ngModel)]="password">
                <input type="submit" value="Login">
              
        
            </div>
       
        </form>
    </div>
    </div>

