
    <body>
        <h4 align="center"><b> Total People for travelling : {{sump}}&nbsp;&nbsp;&nbsp;&nbsp;Total Cargo goods : {{sumg}}</b></h4>
    <div class="table-box">
            <div class="table-row table-head">
                <div class="table-cell first-cell">
                    <p>Customer ID</p>
                </div>
                <div class="table-cell">
                    <p>Customer Name</p>
                </div>
                <div class="table-cell">
                    <p>Address</p>
                </div>
                <div class="table-cell">
                    <p>Email</p>
                </div> 
                <div class="table-cell last-cell">
                    <p>Phone</p>
                </div> 
            </div>
    
    
            <div class="table-row" *ngFor="let s of ships2">
                <div class="table-cell first-cell">
                    <p>{{s.userId}}</p>
                </div>
                <div class="table-cell">
                    <p>{{s.name}}</p>
                </div>
                <div class="table-cell">
                    <p>{{s.addr}}</p>
                </div>
                <div class="table-cell">
                    <p>{{s.email}}</p>
                </div>
                <div class="table-cell last-cell">
                    <p>{{s.phon}}</p>
                </div>   
            </div>
    
    </div>   
    </body>
