
    <body>
    <div class="table-box">
            <div class="table-row table-head">
                <div class="table-cell first-cell">
                    <p>Task Details</p>
                </div>
                <div class="table-cell">
                    <p>Request Leave</p>
                </div>
                <div class="table-cell last-cell">
                    <p>Tasks Status</p>
                </div> 
            </div>
    
    
            <div class="table-row" *ngFor="let s of ships2;let i = index">
                <div class="table-cell first-cell">
                    <p>{{s.tskDtl}}</p>
                </div>
                <div class="table-cell">
                    <div class="table-cell last-cell">
                        <div *ngIf="message.type=='';else go"><p><input type="button" value="Request" (click)="request(i)"></p></div>
                        <ng-template #go>Leave Requested</ng-template>
                    </div> 
                </div>
                <div class="table-cell last-cell">
                    <div *ngIf="message3.type=='';else go2"><p><input type="button" value="Done" (click)="done(i)"></p></div>
                    <ng-template #go2>Work Done</ng-template>
                </div>   
            </div>
    
    </div>   
    </body>
