<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav ml-auto">
          <div>
            <h2 class="d-inline-block align-text-top">Admin Portal</h2><br>
            <a routerLink="/admin/empman"><b>Employee Management</b> </a>&nbsp;&nbsp;
            <a routerLink="/admin/adship"><b>Shipping Management</b> </a>&nbsp;&nbsp;
            <a routerLink="/admin/adres"><b>Reservation Details</b></a>&nbsp;&nbsp;
            <a routerLink="/admin/adsto"><b>Store Management</b></a>&nbsp;&nbsp;
            <a routerLink="/admin/enrol"><b>Enrolment</b></a>&nbsp;&nbsp;
          </div>
        </ul>
      </div>
      <div style="margin-right: 1cm;width:7cm;" >
        <input type="button" value="Generate Report" class="rec" (click)="makePdf()">
      </div>
      <div>
        <h6 class="d-inline-block align-text-top">Welcome {{message}}</h6>
        <a routerLink="/home/home2"><b>Logout</b> </a>
      </div>
      
</nav>
<router-outlet></router-outlet>

