<br><br><div class="container">
    <h3 align="center">Customer Register</h3>
    <form action="">
        <table align="center">
            <tr>
                <td><input type="text" placeholder="Name"></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="Address" ></td>
            </tr>
            <tr>
                <td><input type="number" placeholder="Phone"></td>
            </tr>
            <tr>
                <td><input type="email" placeholder="Email" ></td>
            </tr>
            <tr>
                <td>Select Date and Time :<select name="" id=""></select></td>
            </tr>
            <tr>
                 <div> Traveller<input type="checkbox" onch>Cargo<input type="checkbox"></div>
            </tr>
            <tr>
                <td><input type="number" placeholder="No:of Cargo Goods"></td>
            </tr>
            <tr><td><input type="number" placeholder="No:of Travellers"></td></tr>

        </table>
    </form>
</div>
