
<h5 align="center">{{msg}}</h5>
<div class="container">
    <h3 align="center">Customer Register</h3>
    <form>
        <table align="center">
            <tr>
                <td colspan="2"><input type="text" placeholder="Name" name="name" [(ngModel)]="name"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="text" placeholder="Address" name="addr" [(ngModel)]="addr"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="text" placeholder="Phone" name="phn" [(ngModel)]="phn"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="email" placeholder="Email" name="email" [(ngModel)]="email"></td>
            </tr>
            <tr>
                <td colspan="2">Select Date and Time : <br><select name="" id=""><option>Under Construction</option></select></td>
            </tr>
            <tr>
                <td>Traveller<div class="regc"> <input type="checkbox" id="yourBox" onmousedown="this.form.yourText.disabled=this.checked"/>  </div>
                </td>
                
                <td>Cargo<div class="regc"><input type="checkbox" id="yourBox2" onmousedown="this.form.yourText2.disabled=this.checked"/></div></td>
            </tr>
            <tr>
                <td colspan="2"><input type="text" id="yourText" disabled placeholder="No:of Travellers" name="peop" [(ngModel)]="peop"/></td>
            </tr>
            <tr><td colspan="2"><input type="text" id="yourText2" disabled placeholder="No:of Cargo Goods" name="god" [(ngModel)]="god"/></td></tr>
            
        </table>
        <input type="submit" value="Register" (click)="submit()" >
      <input class="can" type="button" routerLink='/home/home2' value="Go Back"/>
    </form>
</div>